@font-face {
  font-family: 'Museo Slab';
  src: url('/fonts/Museo-300.eot');
  src: url('/fonts/Museo-300.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Museo-300.woff2') format('woff2'),
  url('/fonts/Museo-300.woff') format('woff'),
  url('/fonts/Museo-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Slab';
  src: url('/fonts/MuseoSlab-500.eot');
  src: url('/fonts/MuseoSlab-500.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MuseoSlab-500.woff2') format('woff2'),
  url('/fonts/MuseoSlab-500.woff') format('woff'),
  url('/fonts/MuseoSlab-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Slab';
  src: url('/fonts/Museo-700.eot');
  src: url('/fonts/Museo-700.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Museo-700.woff2') format('woff2'),
  url('/fonts/Museo-700.woff') format('woff'),
  url('/fonts/Museo-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
